.EP {
    position: relative;
    display: block;
    margin: auto;
}

.element {
    position: absolute;
    cursor: pointer;
    background-color: aquamarine;
    border-radius: 50px;
}

#stealsBall {
    left: 1732px;
    top: 838px;
    width: 101px;
    height: 41px;
}

