.EP {
    position: relative;
    display: block;
    margin: auto;
}

/* Dynamic relationships */
.elementdr {
    position: absolute;
    cursor: pointer;
    background-color: aquamarine;
    border-radius: 50px;
    opacity: 70%;
    width: 101px;
    height: 41px;
}

#stealsBall {
    left: 1732px;
    top: 838px;
}

#passesBall {
    left: 1878px;
    top: 838px;
}

#modifiesScoreboard {
    left: 618px;
    top: 413px;
}

#modifiesPlayerStatistic {
    left: 2796px;
    top: 698px;
}

#modifiesTeamStatistic {
    left: 2878px;
    top: 863px;
}

#purchasesTicket {
    left: 1616px;
    top: 338px;
}

#admonishesPlayer {
    left: 1732px;
    top: 838px;
} 

#commitsFoul {
    left: 2043px;
    top: 848px;
}

#defendsBasket {
    left: 1748px;
    top: 538px;
}

#selectsTeam {
    left: 1405px;
    top: 1168px;
}

/* Goals and requirements */
#controllingModifies {

}

#increasingScore {}

#guaranteeingRule {}

#enhancingHighlight {}

#increasingPurchases {}

#makingRevenue {}

#promotingEvent {}

#procuringAdmonishes {}

#avoidingCommits {}

#improvingPlayerStatistic {}

#reducingFoul {}

#PlayerScoresBasket {}

#TicketSol {}

#SpectatorEntersSystem {}

#TeamStatisticVisualize {}

#CoachDirectsPlayer {}

#PlayerStatisticIncrease {}

#PlayerScoresBasket {}

#TicketAvailable {}

#FoulTypePersonalOrTechnical {}

#Scorer {}

#Scoreboar {}

#Arena {}

#Spectator {}

#Ticket {}

#Administrator {}

#Commissioner {}

#Official {}

#Game {}

#Season {}

#National-Basketball-Association {}

#Conference {}

#East {}

#West {}

#Event {} 

#All-Star-Weekend {}

#Referee {}

#Equipment {}

#Team {}

#Trainer {}

#Player {}

#Coach {}

#Foul {}

#TeamStatistic {}

#Governor {}

#SeasonStatistic {}

#PlayerStatistic {}

#DatabaseAdministrator {}
