.EP {
    position: relative;
    display: block;
    margin: auto;
}

/* Dynamic relationships */
.elementgdr {
    position: absolute;
    cursor: pointer;
    background-color: red;
    border-radius: 50px;
    opacity: 70%;
    width: 101px;
    height: 41px;
}

#stealsBall {
    left: 1732px;
    top: 838px;
}

#passesBall {
    left: 1878px;
    top: 838px;
}

#modifiesScoreboard {
    left: 618px;
    top: 413px;
}

#modifiesPlayerStatistic {
    left: 2796px;
    top: 698px;
}

#modifiesTeamStatistic {
    left: 2878px;
    top: 863px;
}

#purchasesTicket {
    left: 628px;
    top: 793px;
}

#admonishesPlayer {
    left: 1616px;
    top: 338px;
} 

#commitsFoul {
    left: 2043px;
    top: 848px;
}

#defendsBasket {
    left: 1748px;
    top: 538px;
}

#selectsTeam {
    left: 1405px;
    top: 1168px;
}

/* Goals and requirements */

#controllingModifies {
    left: 468px;
    top: 413px;
}

#increasingScore {
    left: 358px;
    top: 538px;
}

#guaranteeingRule {
    left: 199px;
    top: 644px;
    width: 118px;
}

#enhancingHighlight {
    left: 358px;
    top: 738px;
}

#increasingPurchases {
    left: 478px;
    top: 998px;
}

#makingRevenue {
    left: 358px;
    top: 1158px;
}

#promotingEvent {
    left: 1480px;
    top: 1735px;
}

#procuringAdmonishes {
    left: 1778px;
    top: 338px;
}

#avoidingCommits {
    left: 2198px;
    top: 784px;
    height: 38px;
}

#improvingPlayerStatistic {
    left: 2508px;
    top: 626px;
}

#reducingFoul {
    left: 2597px;
    top: 1645px;
}

/* Conditionals and Events */

.elemente {
    position: absolute;
    cursor: pointer;
    background-color: red;
    border-radius: 100%;
    opacity: 70%;
    width: 177px;
    height: 177px;
}

#PlayerScoresBasket {
    left: 240px;
    top: 110px;
}

#TicketSold {
    left: 279px;
    top: 935px;
    width: 133px;
    height: 133px;
}

#SpectatorEntersSystem {
    left: 110px;
    top: 1347px;
}

#TeamStatisticVisualized {
    left: 458px;
    top: 1468px;
    width: 133px;
    height: 133px;
}

#CoachDirectsPlayer {
    left: 1666px;
    top: 1480px;
}

#PlayerStatisticIncreased {
    left: 2697px;
    top: 1287px;
    width: 133px;
    height: 133px;
}

#TeamStatisticUpdated {
    left: 3008px;
    top: 935px;
    width: 133px;
    height: 133px;
}

.elementc {
    position: absolute;
    cursor: pointer;
    background-color: red;
    opacity: 70%;
    transform: rotate(45deg);
}

#TicketAvailable {
    width: 270px;
    height: 270px;
    left: 2236px;
    top: 65px;
}

#FoulTypePersonalOrTechnical {
    width: 140px;
    height: 140px;
    left: 99px;
    top: 823px;
}

/* Class Concepts */

#Scorer {}

#Scoreboar {}

#Arena {}

#Spectator {}

#Ticket {}

#Administrator {}

#Commissioner {}

#Official {}

#Game {}

#Season {}

#National-Basketball-Association {}

#Conference {}

#East {}

#West {}

#Event {} 

#All-Star-Weekend {}

#Referee {}

#Equipment {}

#Team {}

#Trainer {}

#Player {}

#Coach {}

#Foul {}

#TeamStatistic {}

#Governor {}

#SeasonStatistic {}

#PlayerStatistic {}

#DatabaseAdministrator {}
